<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .header-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-: 20px;
            text-align: center;
        }

            .header-content img {
                max-width: 30%;
                height: auto;
                margin-bottom: 20px;
            }

            .header-content h1 {
                margin: 0;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container header-content">
            <img src="/images/lola.png" alt="Logo de un leopardo" class="img-fluid" style="margin: 40px" />
            <h1 class="display-4">Administración General</h1>
            <p style="font-size: 20px; padding: 20px;">
                Bienvenido al sistema de gestión general de "Gimnasios 24".
            </p>
        </div>
    </div>
</body>
</html>
